<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfBlazor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfBlazor.Shared.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfBlazor.Settings>
            <setting name="IsImgBlured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NumOfItems" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SortFlag" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfBlazor.Settings>
        <WpfBlazor.Shared.Settings>
            <setting name="CoverBlur" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfBlazor.Shared.Settings>
    </userSettings>
</configuration>